[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    vertical-align: middle;
    margin: 8px;
}

[type=radio]:checked + img {
    outline: 2px solid black;
}