* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: steelblue;
}

.display_results {
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px 2px black;
}

.display_results > h2 {
    font-size: 30px;
    font-weight: 800;
}


.display_results > p {
    font-weight: 600;
}

.submit_button {
    margin: 25px auto 15px auto;
    padding: 5px;
    background-color: steelblue;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 0 1.5px 1.5px black;
    cursor: pointer;
}

.submit_button:hover {
    background-color: white;
    color: black;
    transition: 1s;
}
